h1{
text-align: center;
font-family: lato;
}

#carrinho{
    margin-top: 0px;
    padding: 50px;

    .container{
        text-align: center;
    }

    .product{
        margin: 25px 25px;
        display: inline-block;
        width: 250px;
        height: 250px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	color: #004DA5;	
	vertical-align: bottom;
	font-family: lato;
    }

    .product:nth-of-type(1){
	background-image: url(../images/imagem1.jpg);
	}

    .product:nth-of-type(2){
	background-image: url(../images/imagem2.jpg);
	}
    
    .product:nth-of-type(3){
	background-image: url(../images/imagem3.jpg);
	}

    .product:nth-of-type(4){
	background-image: url(../images/imagem4.jpg);
	}
}

.btn{
	text-align: center;

	a{
	background-color: #004DA5;
	padding: 10px;
	}
}